extends layout.pug

block content


  nav.nav
    a(href='/')
      span &larr;
      |  Back
    h1 Ups error 404! Page not found :) 
    h2 #{err}
    nav.nav
      a(href='/')
        span &larr;
        |  Back
